*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color:#F5E6D3;

}
#product-page{
    font-family: 'inter', 'sans-serif';
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1%;
}

h1,h2{
    font-style:bold;
}
p{
    font-size: 12pt;
}
#carrito{
    font-style: medium;
}
#details-product{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    font-size: 12pt;
}
a{
    font-family: 'Playfair Display', 'Georgia';
    color:black;
    font-size: 12pt;
}